@import url("https://fonts.googleapis.com/css2?family=Grandstander&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.bar {
  height: 100vh;
  display:flex;
  z-index: 9999;
    overflow: hidden;
}
.side-nav,
.nav-menu {
  height: 100%;
}
.side-nav .nav-menu {
  list-style: none;
  padding: 40px 0;
  width: 200px;
  background-color: #0a2064;
  border-right: 10px solid #F7D85F;
}
.side-nav .nav-item {
  position: relative;
  padding: 20px;
}
.nav-item.active {
  background-color: #fff;
  box-shadow: 0px -3px rgba(0, 0, 0, 0.2), 0px 3px rgba(0, 0, 0, 0.2);
}
.nav-item.active a {
  color: #2980b9;
}

.nav-item a {
  text-decoration: none;
  color: #fff;
}
.menu-text {
  padding: 0 20px;
}
.nav-item:hover {
    /* background-color: #fff; */
    color:#F7D85F;
}
.nav-item a:hover {
    text-decoration: none;
    color: #F7D85F;
  }
 
.profile-img{
    width:100px;
    margin:0 20px;
}
.title h1{
    /* padding:20px 470px; */
    color: tomato;
    font-style: italic;
}
.title-one h1{
    padding:20px 520px;
    color: tomato;
    font-style: italic;
}
.user-details{
    display: flex;
  padding:15px 0;
align-items:baseline;
}
.user-box{
    padding: 40px 400px;
 
}
.user-card{
    background: #fff;
    box-shadow: 0px -1px 6px #DFDFDF, 0px 12.5216px 10.0172px rgba(92, 92, 92, 0.035), 0px 6.6501px 5.32008px rgba(92, 92, 92, 0.0282725), 0px 2.76726px 2.21381px rgba(92, 92, 92, 0.0196802);
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 20px;
    width: 400px;
}
.box{
  display: flex;
  justify-content: center;
  position: relative;
}
.fa-pencil{
    margin-top: 20px;
    background: lightblue;
    width: 30px;
    color: black;
    border-radius: 50px;
    height: 30px;
    padding-left: 6px;
    padding-top: 4px;
    font-size: 20px;
}

.title{
background-image: url("images/1.jpeg");
background-position: left;
background-repeat: no-repeat;
background-size: cover;
}